<mat-accordion class="accordion" multi="true" *ngIf="posts.length > 0">
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-action-row>
      <button (click)="deleteEvent(post.id)" mat-button color="primary">DELETE</button>
    </mat-action-row>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <p>{{ post.name }}</p>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-panel-description>
      <p>{{ post.first_question }}</p>
    </mat-panel-description>
    <mat-panel-description>
      <p>{{ post.second_question }}</p>
    </mat-panel-description>
  </mat-expansion-panel>
</mat-accordion>
<h3 class="info-text mat-body-3" *ngIf="posts.length <= 0">NO MESSAGES...</h3>
